:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 2em;
  padding: 1em;
  background-color: aliceblue;
}
/*Page Content*/
.page{
  display: flex;
}
.content{
  padding: 0 2em;
  flex: 1;
}
.form{
  width: 100%;
  display: flex;
}
.form input{
  flex: 1;
}
.storefrontIframe{
  width: 100%;
  min-height: 300px;
}
.myiframe{
  width: 100%;
}

/*dropdown*/
.dropdown {
  position: relative;
}
.dropdownBtn{
  height: 25px;
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  border: 1px solid grey;
  width: 150px;
}

.menu > li {
  margin: 0;

  background-color: white;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}